:root {
  --blue-green: #4ABDAC;
  --red: #FC4A1A;
  --yellow: #F7B733;
  --grey: #DFDCE3;
  --light-grey: #ECECEC;
  --green: #95d847;
  --yellow-green: #f2ff00;
  --dark-blue: #00577d;
  --light-blue: #73d2ff;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.666;
    background: var(--light-grey);
}
